{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hiroki Matsuuchi</title>
    <link rel="stylesheet" href="{% static 'projects/glassmorphism/glassmorphism.css' %}?ver=018">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'profiles/site_icons/favicon.ico' %}"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Default viewport scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Prism -->
    <link href="{% static 'projects/glassmorphism/prism.css' %}?ver=001" rel="stylesheet" />

</head>
<body>
  <!-- Background -->
  <section id="background">
      <div id="background-gradient"></div>
      <div id="background-gradient-mask"></div>
      <div id="background-shapes-container">
        <div
          id="circle-1"
          class="background-glass-effect"></div>
        <div
          id="circle-2"
          class="background-glass-effect"></div>
      </div>
  </section>

  <!-- Back Button -->
  <button class="back-button" onClick="window.location.href='/hiroki/'">
    <div class="back-button-arrow"></div>
    <div class="back-button-text">all projects</div>
  </button>

  <!-- Content -->
  <section id="content">
    <div id="content-container">
      <div class="project-title-container">
        <h1>Glassmorphism</h1>
        <div class="creation-date">Created: <wbr>{{ project.creation_date|date:"Y-m-d" }}</div>
        <div class="update-date">Last Updated: <wbr>{{ project.update_date|date:"Y-m-d" }}</div>
      </div>
      <div class="content-card glass">
        <h2>Some things to keep in mind</h2>
        <p>This is a fun effect that's relatively easy to implement in just CSS,
           but you can get fancier with a bit of additional JavaScript.
           I like the way it looks, but it's a bit skeuomorphic and might not fit the current zeitgeist of web design.
            It's also a bit computationally expensive. If you start overlaying glass elements on top of glass elements
             and animate them, you'll see a noticable drop in framerate on some devices and your fans might turn on
              from all the extra heat. Use with caution!</p>
      </div>
      <div class="content-card glass">
        <h2>Creating the background</h2>
        <p>The glass pane effect only really works if you have a background with some visual interest.
           Solid color backgrounds will make the frosted glass effect completely invisible,
           so it's best to add some abstract shapes or a gradient to the background.
        </p>
        <h3>Four color gradient background</h3>
        <p>This background uses overlapping sibling elements contained within a parent to achieve a four color gradient effect.
           As far as I know, there's no built-in way to do this with a single line of CSS so I achieve this with a gradient mask.
        </p>
        <div id="four-color-gradient-background">
          <div id="background-gradient"></div>
          <div id="background-gradient-mask"></div>
        </div>
        <p>The <code class="language-html">id="background-gradient-container"</code> element holds the two overlappping child elements which take
           up the entire width and height of their parent. Both of the child elements are linear gradients, but the
           <code class="language-html">id="background-gradient-mask"</code> element has a gradient mask applied to it
            which allows the <code class="language-html">id="background-gradient"</code> to show through in the top half.
        </p>
        <p>Here's the HTML:</p>
        <div class="code-block">
          <pre><code class="language-html">
&lt;div id="background-gradient-container"&gt;
  &lt;div id="background-gradient"&gt;&lt;/div&gt;
  &lt;div id="background-gradient-mask"&gt;&lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </div>
        <p>The styling applied to <code class="language-css">#background-gradient-container</code> give us an element that is fixed
         to the viewport so will not scroll, is positioned to the top-right corner of the viewport and takes up the full width and
         height of the viewport.</p>
         <p>The styling for the first child <code class="language-css">#background-gradient</code> element prevents it from affecting
         its sibling's position. Additionally, the element takes up the entire width and height of its parent, the element is positioned
         to the top-right corner of its parent and has a linear gradient going from left to right.</p>
         <p>Lastly, the styling for the second child <code class="language-css">#background-gradient-mask</code> element does all the
         same things as its sibling, but applies a linear gradients that uses different colors and applies a linear gradient mask
         that runs from top (transparent) to bottom (opaque). This allows the first child element to show through at the top half of the
         background gradually transition into the second child element which is visible in the bottom half of the background.</p>
        <p>Here's the CSS:</p>
        <div class="code-block">
          <pre><code class="language-css">
#background-gradient-container {
  position: fixed;

  overflow: hidden;

  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
}

#background-gradient {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  right: 0;

  background: linear-gradient(90deg, #ee0979, #f5af19);
}

#background-gradient-mask {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  right: 0;

  background: linear-gradient(90deg, #8360c3,#2ebf91);

  mask-image: linear-gradient(180deg, transparent, black);
  -webkit-mask-image: linear-gradient(180deg, transparent, black);
}
            </code></pre>
          </div>
          <h3>Creating background shapes</h3>
          <p>
            You can add more visual interest to the background by adding a few shapes and applying the frosted glass effect to them.
             I suspect that this is where the biggest performance hit comes from. Having translucent elements overlappying translucent elements
             seems to hit the processor pretty hard if you start animating them.
          </p>
          <div id="four-color-gradient-background">
            <div id="background-gradient"></div>
            <div id="background-gradient-mask"></div>
            <div id="shape-1" class="glass"></div>
            <div id="shape-2" class="glass"></div>
          </div>
          <p>You'll need to start by creating the frosted glass effect using this CSS:</p>
          <div class="code-block">
            <pre><code class="language-css">
.glass {
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(.2rem);

  box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.15);

  border: 1px solid rgba(255, 255, 255, 0.2);
}
            </code></pre>
          </div>
          <p>Then you can add the shape elements to the HTML and style them. I'm going with simple circles in this example, but there's
             no reason why you can't get more creative with the shapes.
          </p>
          <p>Here's the updates HTML that includes the background shapes:</p>
          <div class="code-block">
            <pre><code class="language-html">
&lt;div id="background-gradient-container"&gt;
  &lt;div id="background-gradient"&gt;&lt;/div&gt;
  &lt;div id="background-gradient-mask"&gt;&lt;/div&gt;
  &lt;div id="shape-1" class="glass"&gt;&lt;/div&gt;
  &lt;div id="shape-2" class="glass"&gt;&lt;/div&gt;
&lt;/div&gt;
            </code></pre>
          </div>
          <p>And here's the complete CSS which was updated to include the glass effect and the two background circles:</p>
          <div class="code-block">
            <pre><code class="language-css">
#background-gradient-container {
  position: fixed;

  overflow: hidden;

  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
}

#background-gradient {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  right: 0;

  background: linear-gradient(90deg, #ee0979, #f5af19);
}

#background-gradient-mask {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  right: 0;

  background: linear-gradient(90deg, #8360c3,#2ebf91);

  mask-image: linear-gradient(180deg, transparent, black);
  -webkit-mask-image: linear-gradient(180deg, transparent, black);
}

.glass {
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(.2rem);

  box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.15);

  border: 1px solid rgba(255, 255, 255, 0.2);
}

#shape-1 {
  position: absolute;

  width: 50%;
  aspect-ratio: 1 / 1;

  border-radius: 50%;

  bottom: -10%;
  right: -10%;
}

#shape-2 {
  position: absolute;

  width: 75%;
  aspect-ratio: 1 / 1;

  border-radius: 50%;

  top: -10%;
  left: -20%;
}
              </code></pre>
            </div>
      </div>
      <div class="content-card glass">
        <h2>Creating glass panes for content</h2>
      </div>
    </div>
  </section>

    <!-- JS -->
  <script src="{% static 'projects/glassmorphism/glassmorphism.js' %}?ver=001"></script>

  <!-- Prism -->
  <script src="{% static 'projects/glassmorphism/prism.js' %}?ver=001"></script>

</body>
</html>