body {
    margin: 0;

    font-family: "Lato", sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: .25rem .25rem .5rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.2rem);
    border-radius: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.35);
    background-clip: padding-box;
}

h1 {
    font-size: min(calc(1rem + 5vw), 2.5rem);
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

pre {    
    border-radius: .5rem;
}

code {
    font-size: .9rem!important;
}

.code-block {
    margin: 1rem 0;

    width: calc(100vw - 4rem);
    max-width: calc(800px - 2rem - 4px);
}

p {
    line-height: 1.65rem;
    font-size: 1.1rem;
}

/* Back Button */
.back-button {
    position: relative;

    cursor: pointer;

    background-color: transparent;

    border: none;

    top: 1rem;
    left: 1rem;

    padding: .5rem 1rem;

    border-radius: .5rem;
    
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .5rem;
    align-items: center;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

@media (hover: none) {
    .back-button:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .back-button {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.4);
    }
}

.back-button-arrow {
    background-image: url("arrow_20pt_stroke.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 45%;

    transform: rotate(180deg);

    width: 2rem;
    height: 2rem;
}

.back-button-text {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: #000;
}

/* Project Title */
.project-title-container {
    display: grid;
}

.project-title-container h1 {
    grid-column: 1 / 3;
}

.creation-date, .update-date {
    font-size: min(.5rem + 1vw, 1rem);

    white-space: nowrap;
}

.creation-date {
    grid-column: 1;
}

.update-date {
    grid-column: 2;

    text-align: right;
}

/* Content */
#content {
    position: relative;

    top: 1rem;

    z-index: 1;

    display: grid;
    justify-content: center;
}

#content-container {
    padding: 1rem;

    width: calc(100vw - 2rem + 4px);
    max-width: 800px;

    display: grid;
    grid-row-gap: 1rem;
}

.content-card {
    padding: 1rem;

    display: grid;
}

/* Content - Four Color Gradient Background */
#four-color-gradient-background {
    position: relative;

    overflow: hidden;

    margin: 2rem 0;

    width: calc(100vw - 4rem);
    height: calc(162vw - 4rem);
    max-width: 500px;
    max-height: 750px;

    justify-self: center;
}

/* Content - Background Shapes */
#shape-1 {
    position: absolute;

    width: 50%;
    aspect-ratio: 1 / 1;

    border-radius: 50%;

    bottom: -10%;
    right: -10%;
}

#shape-2 {
    position: absolute;

    width: 75%;
    aspect-ratio: 1 / 1;

    border-radius: 50%;

    top: -10%;
    left: -20%;
}

.glass-background {
    background: rgba(255, 255, 255, 0.25);

    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.15);

    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.glass-element {
    background: rgba(255, 255, 255, 0.25);

    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.15);

    border: 0.1rem solid rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(0.2rem);
}

.glass-element {
    padding: 1rem;

    border-radius: 0.5rem;
    margin: 1rem;

    display: grid;
}

.sample-content-container {
    height: 100%;

    overflow-y: scroll;
}

.sample-image {
    width: 50vw;
    height: 50vw;

    max-width: 350px;
    max-height: 350px;

    justify-self: center;

    background-image: url("sample_image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.copyright {
    position: relative;

    text-align: center;
}

/* Background */
#background {
    position: fixed;

    width: 100vw;
    height: 100vh;
}

#background-gradient {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    right: 0;

    background: linear-gradient(90deg, #ee0979, #f5af19);
}

#background-gradient-mask {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    right: 0;

    mask-image: linear-gradient(180deg, transparent, black);
    -webkit-mask-image: linear-gradient(180deg, transparent, black);
    background: linear-gradient(90deg, #8360c3,#2ebf91);
}

#background-shapes-container {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    right: 0;
}

#circle-1 {
    position: absolute;

    width: 50vw;
    height: 50vw;
    border-radius: 50%;

    bottom: -10vw;
    right: -10vw;

}

#circle-2 {
    position: absolute;

    width: 75vw;
    height: 75vw;
    border-radius: 50%;

    top: -10vw;
    left: -20vw;
}

.background-glass-effect {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}