{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hiroki Matsuuchi</title>
    <link rel="stylesheet" href="{% static 'profiles/hiroki.css' %}?ver=008">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'profiles/site_icons/favicon.ico' %}"/>

    <!-- Default viewport scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts - Lato, Kosugi Maru -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Background -->
  <section id="background">
      <div id="background-gradient"></div>
      <div id="background-gradient-mask"></div>
      <div id="background-shapes-container">
        <div
          id="circle-1"
          class="background-glass-effect"></div>
        <div
          id="circle-2"
          class="background-glass-effect"></div>
      </div>
  </section>
      
  <!-- Profile Card -->
  <section id="profile-card">
    <div class="primary-container glass">
      <div class="icon-container">
        <div class="icon-background"></div>
        <div class="icon"></div>
      </div>
      <h1>Hiroki Matsuuchi</h1>
      <h2>
        Building web applications with the power of
        <span class="bold-text purple-text">Django</span>, from
        <span class="bold-text purple-text">front-end</span> to
        <span class="bold-text purple-text">back-end</span>
      </h2>
    </div>
  </section>

  <!-- Project Cards -->
  <section id="project-cards">
    <div class="primary-container">
      {% for project in projects %}
      <a href='/projects/{{ project.url_stub }}' class="project-card glass">
        <h3 class="project-name">{{ project.project_name }}</h3>
        <h4 class="project-subtitle">{{ project.project_subtitle }}</h4>
        <p class="project-description">{{ project.project_description }}</p>
        <div class="divider-line"></div>
        <div class="creation-date">Created: {{ project.creation_date|date:"Y-m-d" }}</div>
        <div class="update-date">Last Updated: {{ project.update_date|date:"Y-m-d" }}</div>
      </a>
      {% endfor %}
    </div>
  </section>

    <!-- JS -->
  <script src="{% static 'profiles/hiroki.js' %}?ver=001"></script>

</body>
</html>